.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e76127;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.maze {
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  gap: 1px;
  border: 2px solid black;
  margin: 20px auto;
  position: relative;
}

.maze-row {
  display: contents;
}

.maze-cell {
  width: 100%;
  height: 100%;
}

.wall {
  background-color: rgb(231, 40, 40);
}

.passage {
  background-color: rgb(139, 218, 35);
}
